::before,
\*::after {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.show {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin: auto;
  height: 40vh;
  width: 100%;
  background-color: black;
  color: aliceblue;
  border: rgb(153, 224, 11);
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  justify-content: center;
}

button {
  margin: auto;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 50%;
  text-align: center;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
